<div class="wrapper">
    <div class="header-home">
        <!-- <app-navbar></app-navbar> -->
        <!-- <app-navbar [role]="role"></app-navbar> -->
         <app-navbar></app-navbar>
    </div>

    <div class="body-admin">
        <div class="row mt-4 mb-3">
            <div class="col-12">
              <span class="title-perfil">Bienvenido {{name_user}} - {{role}}</span>
            </div>
        </div>
    </div>

    <div class="container">
        
        @if ( showDashboard ) {
            <div class="cards-container">
                @for (option of options; track option){
                    <mat-card (click)="navigateTo(option.link)">
                        <mat-card-header class="card-header-center">
                            <mat-card-title> {{option.name}} </mat-card-title>
                        </mat-card-header>
                    
                        <mat-card-content>
                            <img src="{{ option.icon }}" alt="{{ option.name }}" class="card-image" /> 
                        </mat-card-content>
                    </mat-card>
                }
            </div>
        } @else {
            <router-outlet></router-outlet>
        }
    </div>
</div>
